:root {
  /* LIGHT COLORS */
  --primary-color: #1c41ab;
  --secondary-color: #305dfc;
  --accent-color: #f7f7f7;
  --complement-color: #f29d7a;
  --font-color: #2c3e50;
  --bg-color: #f7f7f7;
  --box-shadow-top-color: #d2d2d2;
  --box-shadow-bottom-color: #ffffff;
}

[data-theme="dark"] {
  --primary-color: #305dfc;
  --secondary-color: #1c41ab;
  --accent-color: #f29d7a;
  --font-color: #f7f7f7;
  --bg-color: #2c3e50;
  --box-shadow-top-color: #253544;
  --box-shadow-bottom-color: #33475c;
}

body {
  margin: 0;
  display: flex;
  padding: 4rem 0px;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  background: var(--bg-gradient);
  color: var(--font-color);
  transition: background 0.5s ease;
}

h1 {
  font-size: 3rem;
}

.light-theme {
  --bg-gradient: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
}

.dark-theme {
  --bg-gradient: linear-gradient(90deg, var(--secondary-color), var(--primary-color));
}
